<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}">
<head>
    <title>Login</title>
</head>
<body>
<div class="bg-black text-white flex min-h-screen flex-col items-center pt-16 sm:justify-center sm:pt-0">
    <div class="relative mt-12 w-full max-w-lg sm:mt-10">
        <div class="relative -mb-px h-px w-full bg-gradient-to-r from-transparent via-sky-300 to-transparent"></div>
        <div class="mx-5 border dark:border-b-white/50 dark:border-t-white/50 border-b-white/20 sm:border-t-white/20 shadow-[20px_0_20px_20px] shadow-slate-500/10 dark:shadow-white/20 rounded-lg border-white/20 border-l-white/20 border-r-white/20 sm:shadow-sm lg:rounded-xl lg:shadow-none">
            <div class="flex flex-col p-6">
                <h3 class="text-xl font-semibold leading-6 tracking-tighter">Authorize Application</h3>
                <p class="mt-1.5 text-sm font-medium text-white/50">
                    The application <strong class="text-green-500" th:text="${clientId}"></strong> is requesting the following permissions:
                </p>
            </div>

            <ul class="text-left text-gray-600 mt-4 space-y-2 mx-5">
                <li th:each="scope : ${scopes}" th:text="|✔ ${scope.description} (${scope.scope})|"></li>
            </ul>
            <form th:action="@{/oauth2/authorize}" method="post" class="mt-6 space-y-2 bg-white shadow-md rounded-lg p-4 max-w-lg mx-auto">
                <!-- Hidden Inputs -->
                <input type="hidden" name="client_id" th:value="${clientId}">
                <input type="hidden" name="state" th:value="${state}">

                <div class="flex flex-col space-y-2n">
                    <div class="text-sm text-gray-600 mb-2">
                        To fully utilize the features of this application, additional permission scopes are required as follows.
                    </div>
                    <!-- Scopes -->
                    <div th:each="scope: ${scopesToApprove}" class="flex items-center py-2">
                        <div class="flex items-center w-full h-6">
                            <input
                                    class="form-check-input h-5 w-5 text-blue-600 focus:ring-blue-500 border-gray-300 rounded mr-3 scope-checkbox cursor-pointer"
                                    type="checkbox"
                                    name="scope"
                                    th:value="${scope.scope}"
                                    th:id="${scope.scope}">
                            <label
                                    class="text-gray-700 text-sm font-semibold cursor-pointer"
                                    th:for="${scope.scope}"
                            th:text="${scope.scope} == 'profile' ? (${scope.description} + '(' + ${principalName} + ')') : ${scope.description}">
                            </label>
                        </div>
                    </div>
                </div>

                <hr class="my-4 border-gray-300" th:if="${!#lists.isEmpty(approvedScopes)}">

                <div class="flex flex-col space-y-2" th:if="${!#lists.isEmpty(approvedScopes)}">
                    <div class="text-sm text-gray-600 mb-2">
                        The currently granted permission scopes are as follows.
                    </div>
                    <!-- Scopes -->
                    <div th:each="scope: ${approvedScopes}" class="flex items-center py-2">
                        <div class="flex items-center cursor-pointer w-full h-6">
                            <input
                                    class="form-check-input h-5 w-5 text-blue-600 focus:ring-blue-500 border-gray-300 rounded mr-3"
                                    type="checkbox"
                                    name="scope"
                                    th:value="${scope.scope}"
                                    th:id="${scope.scope}"
                                    checked
                                    disabled
                            >
                            <label
                                    class="text-gray-700 text-sm font-semibold"
                                    th:for="${scope.scope}"
                                    th:text="${scope.scope} == 'profile' ? (${scope.description} + '(' + ${principalName} + ')') : ${scope.description}">
                            </label>
                        </div>
                    </div>
                </div>

                <!-- Divider -->
                <hr class="my-4 border-gray-300">

                <!-- Client Name Info -->
                <p class="text-sm text-gray-600">
                    <b th:text="${clientName}"></b> is not yet installed on any account you have access to.
                </p>

                <hr class="my-4 border-gray-300">

                <!-- Action Buttons -->
                <div class="flex justify-between mt-6">
                    <button
                            class="bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2"
                            type="button"
                            id="cancel-consent"
                            onclick="cancelConsent();">
                        Cancel
                    </button>
                    <button
                            class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
                            type="submit"
                            id="submit-consent">
                        Authorize
                    </button>
                </div>

                <!-- Redirect Info -->
                <div class="text-center mt-6">
                    <p class="text-gray-500 text-sm">Authorization will redirect to:</p>
                    <p class="text-gray-800 text-sm font-bold" th:text="${redirectUri}"></p>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
